/* style.css */
* { font-family:verdana,arial,helvetica,sans-serif }
p,table,textarea,ul { font-size:10pt }
textarea { width:100% }
a  { color:#3366CC }
.k { color:black; text-decoration:none }
em { font-style:normal }
em,
.blue  { font-weight:bold; color:black; background:#99EEFF; border:1px solid #00BBFF }
.green { font-weight:bold; color:black; background:#99FF99; border:none }
.black { font-weight:bold; color:white; background:black;   border:none }
table {
    width:95%;
    margin:20px;
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse:collapse;
}
td {
    padding:4px 15px;
    border-left:solid 1px silver;
    border-right:solid 1px silver;
}
table#passwd {
    width:auto;
    border:dotted 1px #8c93ba;
}
.n { border:none }
