<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="ja">
  <head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
      <meta name='author' content='takuki matsuda'>
      <title>Grepper《グレッパー》</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <script src="static/script.js"></script>
  </head>

  <body>
    <div id="top">
      <h1>
        <a class="link-k" href='/'>Grepper《グレッパー》</a>
      </h1>
      <span class="version">ver.1.0</span>
      &emsp;
      <span class="language-switcher">
        <a href='/en'>English</a> | Japanese
      </span>      
      <span class="blog">
         <a href='/blog'>| blog</a>
      </span>
      <hr>
    </div>

    <div id="form">
      <p>原文を以下のテキストフィールドにコピーしてください。</p>
      <p>検出処理はクライアント側(あなたのPC内)で行われるので、原文が外部に漏れる心配はありません。</p>
      <textarea name="sequenceA" id="sequenceA" rows="20" placeholder="文章全体をコピーしてください。"></textarea>

      <p>検出したいキーワードを以下に入力してください。</p>
      <div id="keywords">
        <textarea name="sequenceB" id="sequenceB" rows="1" placeholder="検出したいキーワードを入力してください。"></textarea>
      </div>
      <button onclick="addKeywordField()">＋</button>
      <p></p>
      <button id="detailButton" onclick="toggleDetailSettings()">詳細設定</button>
      <div id="detailSettings" style="display: none;">
        <input type="checkbox" id="test1" name="test1">
        <label for="test1">テスト1</label><br>
        <input type="checkbox" id="test2" name="test2">
        <label for="test2">テスト2</label><br>
        <input type="checkbox" id="test3" name="test3">
        <label for="test3">テスト3</label><br>
        <input type="checkbox" id="test4" name="test4">
        <label for="test4">テスト4</label><br>
        <input type="checkbox" id="test5" name="test5">
        <label for="test5">テスト5</label><br>
      </div>
      <p><input type="submit" value="検出する" onclick="return detectLines();"></p>
    </div>
    <div id="statusBar" style="display: none;">
      処理中です。しばらくお待ちください...
    </div>
    
    <div id="results" style="white-space: pre;">
      <!-- 結果を表示する場所 -->
    </div>

    <hr>

    <div id="news">
      <p>新着情報：</p>
      <ul>
        <li>2023-11-12　初代 Greppper 完成 (ver.1)</li>
      </ul>
    </div>

    <hr>

    <p class="modified-info">Last modified on Nov 28, 2023 by
      <a target='_blank' href='http://twitter.com/MackeyPhotos'>@MackeyPhotos</a>
    </p>

  </body>
</html>
