<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
  <head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
      <meta name='author' content='Takuki Matsuda'>
      <title>Grepper</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <script>
        function detectLines() {
          var text = document.getElementById('sequenceA').value;
          var keyword = document.getElementById('sequenceB').value;
          var lines = text.split('\n');
          var matchingLines = lines.filter(line => line.includes(keyword));
          document.getElementById('results').innerText = matchingLines.join('\n');
          return false; // Prevent form from submitting
        }
      </script>
  </head>

  <body>
    <div id="top">
      <h1>
        <a class="link-k" href='/'>Grepper</a>
      </h1>
      <span class="version">ver.1.0</span>
      &emsp;
      <span class="language-switcher">
        English | <a href='/'>Japanese</a> <!-- 日本語版へのリンクを更新 -->
      </span>
      <span class="blog">
         <a href='/blog'>| blog</a>
      </span>
      <hr>
    </div>

    <div id="form">
      <p>Please copy the original text into the text field below.</p>
      <p>The detection process is carried out on the client-side (inside your PC), so there is no worry about the original text being leaked externally.</p>
      <textarea name="sequenceA" id="sequenceA" rows="20" placeholder="Please copy the entire text here."></textarea>
    
      <p>Please enter the keyword you want to detect below.</p>
      <textarea name="sequenceB" id="sequenceB" rows="1" placeholder="Enter the keyword you want to detect."></textarea>
    
      <p><input type="submit" value="Detect" onclick="return detectLines();"></p>
    </div>
    
    <div id="results" style="white-space: pre;">
      <!-- Area to display results -->
    </div>
    
    <hr>
    
    <div id="news">
      <p>Latest News:</p>
      <ul>
        <li>2023-11-12　First version of Grepper completed (ver.1)</li>
      </ul>
    </div>
    
    <hr>
    
    <p class="modified-info">Last modified on Nov 28, 2023 by
      <a target='_blank' href='http://twitter.com/MackeyPhotos'>@MackeyPhotos</a>
    </p>
    
    <!-- Other HTML content -->
  </body>
</html>
